<% @page_title = "Workflows" %>

<% content_for :header do %>
  <%= render "filters/menu", user_filtering: @user_filtering %>
  <h1 class="header__title"><%= @page_title %></h1>
  <div class="header__actions header__actions--end">
    <%= link_to new_workflow_path, class: "btn" do %>
      <%= icon_tag "add" %>
      <span class="for-screen-reader">Create a new workflow</span>
    <% end %>
  </div>
<% end %>

<section class="center justify-center flex flex-wrap gap">
  <% if @workflows.any? %>
    <%= render partial: "workflows/workflow", collection: @workflows %>
  <% else %>
    <div>
      <p class="txt-medium txt-align-center">
        Workflows are for organizing Cards you're working on into stages.
      </p>
      <p class="txt-medium txt-align-center">
        <%= link_to new_workflow_path, class: "btn btn--link" do %>
          <%= icon_tag "add" %>
          <span>Create a new workflow</span>
        <% end %>
      </p>
    </div>
  <% end %>
</section>
